<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="sqlConnection" connectionString="Data Source = DESKTOP-V8O3LGJ\SQLEXPRESS;Initial Catalog = HomeAutoDB; Integrated Security = True"/>-->
    <!--<add name="sqlConnection" connectionString="Data Source = localhost\SQLEXPRESS;Initial Catalog = HomeAutoDB; Integrated Security = True"/>-->
    <!--<add name="sqlConnection" connectionString="Data Source = localhost;Initial Catalog = HomeAutoDB; Integrated Security = True" />-->
    <!--<add name="sqlConnection" connectionString=" Data Source =  localhost\SQLEXPRESS;Initial Catalog = HomeAutoDB; User ID=sa;Password=UsnPassword2020;"/>-->
    <!-- "ConnectionString": "Server=oyvindballestad.database.windows.net,1433;Database=HomeAutoDB;User Id=oyvindballestad;Password=Usnproject2020" -->
    <!--<add name ="sqlConnection" connectionString="Data Source =homieusn.database.windows.net;Initial Catalog= HomeAutoDB;User ID=homieadmin;Password=UsnPassword2020;"/>-->
    
    <add name="sqlConnection" connectionString=" Server=tcp:homie2.database.windows.net,1433;Initial Catalog=HomeAutoDB;Persist Security Info=False;User ID=homieadmin;Password=UsnPassword2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
         </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>